
@{
    Layout = null;  


    ViewData["Title"] = "dashboard";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 pt-5 pb-3">
            <div class="text-center  ">
                <img src="~/imgReq/whiteBgColor2.png" width="250" alt="">
                <h4 class="font-weight-bold pt-2"> تصميم وبرمجة Nova365</h4>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="col-md-8">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-2">
                    <a href="login.html" class="btn btn-danger btn-block">
                        تسجيل دخول
                        الإدارة
                    </a>
                </div>

                <div class="col-md-6 mb-2">
                    <a href="login_employee.html" class="btn btn-success btn-block">
                        تسجيل
                        دخول الموظف
                    </a>
                </div>

                <div class="col-md-6 mb-2">
                    <a href="login_customer.html" class="btn btn-purple btn-block">
                        تسجيل
                        دخول الموكلين
                    </a>
                </div>

                <div class="col-md-6 mb-2">
                    <a href="RequestConsult.html" class="btn btn-secondary btn-block">
                        طلب
                        استشارة
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

