
@{
    ViewData["Title"] = "team";
}

<!-- Start Page Title Area -->
<div class="page-title-area style-four " style=" background-image: url(../uploads/setting/1633529701page_title.jpg);">
    <div class="container">
        <div class="page-title-content text-start">
            <h3>فريق العمل</h3>
            <ul>
                <li><a href="../index.html">الرئيسية</a></li>
                <li>فريق العمل</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Team Area -->
<div class="team-area pt-70 pb-70">
    <div class="container">
        <div class="section-title">
            <h3>فريق العمل</h3>
            <p>لدينا طاقم عملي مهني على مستوى عالي من الخبرة والكفاءة ويضم مكتبنا نخبة متميزة من المحامين والمستشارين والاداريين المحليين والدوليين من ذوي الخبرة في المجال القانوني للمساهمة في تحقيق الحماية القانونية لعملائنا، حيث يقوم المحامون لدينا بالتمثيل القانوني بالنيابة عن الشركات والمؤسسات والأفراد، كما أن فريقنا يتميز بالخبرات والمعرفة والاهتمام بأدق التفاصيل في التمثيل القانوني أمام جميع المحاكم القضائية، ويضم فريق العمل</p>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637477429emad.png" alt="الدكتور  محمد علي الشرمان" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">الدكتور  محمد علي الشرمان</h3>
                        <span>  مؤسس المكتب</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637479475salem.png" alt="1" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">1</h3>
                        <span>محام/ مدير فرع اربد</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637479382saif.png" alt="2" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">2</h3>
                        <span>محام</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637479198nagla.png" alt="3" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">3</h3>
                        <span>محامية</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637479257wala.png" alt="4" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">4</h3>
                        <span>محامية</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637476675305992.png" alt="5" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">5</h3>
                        <span>محامية</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637477465dawwod.png" alt="6" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">6</h3>
                        <span>قاض سابق ومستشار قانوني</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637825035WhatsApp%20Image%202021-11-25%20at%2011.18.50%20AM.jpg" alt="7" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">7</h3>
                        <span>قاض سابق ومستشار قانوني</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637479115reda.png" alt="8" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">8</h3>
                        <span>مستشار في القانون/ التحكيم التجاري</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-team-member">
                    <img src="../uploads/teams/1637477682aiman.png" alt="9" width="80%">

                    <div class="content">
                        <h3 style="font-size: 16px">9</h3>
                        <span>مستشار في القانون العام/ الجنايات</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Team Area -->

