@{
    ViewData["Title"] = "Login";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/images/signin-image.jpg" alt="sign up image"></figure>
                <a asp-area="" asp-controller="User" asp-action="Register" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>

                <form method="POST" class="register-form" id="login-form" action="/User/HandleLogin">
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="email" id="email" placeholder="Your Email"
                               value="@(ViewData["SavedEmail"] ?? "")" required />
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="your_pass" placeholder="Password"
                               value="@(ViewData["SavedPassword"] ?? "")" required />
                    </div>


                    <div class="form-group" style="display: flex; align-items: center; gap: 5px;">
                        <input type="checkbox" id="remember-me" name="rememberMe" style="width: 16px; height: 16px;" />
                        <label for="remember-me">Remember Me</label>
                    </div>



               

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
